.o-chart {
  width: calc(100% - 50px);
  height: 520px;

  @media(min-width: 768px) {
    margin-top: $spacing * 6;
  }

  &--invisible-height {
    height: 1px;
  }

  g.arc {
    path {
      &:hover {
        stroke: lighten($background-color, 70%);
        stroke-width: 4px
        // filter: drop-shadow(2px 2px 8px rgba(255,255,255,0.8));
      }
    }

    text {
      fill: $text-color;
      font-family: $category-font-family;
      font-size: 12px;
      font-weight: 300;

      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
  }
}