.o-expenses {
  margin-bottom: $spacing * 10;
  padding: $spacing * 3;
  border-radius: $spacing / 2;
  box-shadow: 0 0 8px 4px lighten($background-color, 20%),
              0 12px 8px lighten($background-color, 10%);
}