.o-chart {
  width: calc(100% - 18px);
  height: 520px;

  @media(min-width: 768px) {
    margin-top: $spacing * 6;
    width: calc(100% - 50px);
  }

  &--invisible-height {
    height: 1px;
  }

  g {
    path {
      transition: all 1s;
      &:hover {
        @media(min-width: 768px) {
          transform-origin: 50% 50% 50%;
          transform: scale(0.95);
        }
      }
    }

    text {
      fill: $white;
      font-family: $category-font-family;
      font-size: 12px;
      font-weight: 300;
      text-shadow: 0 0 10px #000;
      pointer-events: none;
      
      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
  }
}