.a-button {
  width: 100%;
  height: 60px;

  &__text {
    color: $white;
    font-family: $heading-font-family;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 5px $dark-grey;
  }

  &--green {
    background-color: $green;
    box-shadow: 0 2px 4px lighten($green, 40%);
  }
}